if pedidosL.length != 0
    table(class="pedidos_locales")
        tr 
            th Tipo de Pedido 
            th Pedido 
            th Cliente
            th N° de Mesa 
            th Estado 
        -let index = 1
        each item in pedidosL
            if item.estado < 1
                tr 
                    td
                        if item.tipoPedido == 0
                            label Local 
                        else 
                            label Domicilio/LLevar 
                    td 
                        each det in item.detalle
                            label= det.cantidad + " "
                            label= det.item 
                            br
                    td= item.cliente 
                    td= item.numMesa
                    td(id="chkstatefor"+item.n)
                        if item.estado == -1
                            button(id="btnestado"+item.n, onclick="cambiarEstado('"+item._id+"','"+item.n+"')") Pendiente 
                        else 
                            button(id="btnestado"+item.n, onclick="cambiarEstado('"+item._id+"','"+item.n+"')") Preparando 
                        -index++ 
if pedidosD.length != 0
    table(class="pedidos_dom")
        tr 
            th Tipo de Pedido 
            th Pedido 
            th Cliente
            th Estado 
        -let index = 1
        each item in pedidosD
            if item.estado < 1
                tr 
                    td
                        if item.tipoPedido == 0
                            label Local 
                        else 
                            label Domicilio/LLevar 
                    td 
                        each det in item.detalle
                            label= det.cantidad + " "
                            label= det.nombreItem 
                            br
                    td= item.cliente
                    td(id="chkstatefor"+item.n)
                        if item.estado == -1
                            button(id="btnestado"+item.n, onclick="cambiarEstado('"+item._id+"','"+item.n+"')") Pendiente 
                        else 
                            button(id="btnestado"+item.n, onclick="cambiarEstado('"+item._id+"','"+item.n+"')") Preparando 
                        -index++  